<p>
<table>
  <tr>
    <td>
      <div class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.de">
          <img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="{{ root_url }}/images/cc-by-sa-3.0_88x31.png" />
        </a>
      </div>
    </td>
    <td>
      <div>
        Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
        <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
        <br/>
        <span>
          Dieses Werk bzw. Inhalt steht unter einer <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.de">Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 3.0 Unported Lizenz</a>
        </span>
      </div>
    </td>
  </tr>
<table>
</p>


